# These are settings that are used by the game.
# They are structured just like commands in the game console.

# Randomization chance
set rand 50
# Mode classic or stepped
set mode classic
# Is border enabled?
set border false
# Algorithm used for generation - Game Of Life by default (B3/S23)
set algo B3/S23
